.myTeamsPokemons {
   display: flex;
   flex-direction: column;
   padding: 1.428rem 0 3rem 0;
   margin: 0 2rem;
   
   @media (min-width: 598px) {
      margin: 2rem 14rem;
   }

   @media (min-width: 1200px) {
      margin: 2rem 20rem;
   }

   @media (min-width: 1500px) {
      margin: 2rem 25rem;
   }

   @media (min-width: 1800px) {
      margin: 2rem 30rem;
   }

   & > .pokemonTeamBox {
      display: flex;
      flex-direction: column;
   }
   
   .teamPokemonList {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: .2rem solid var(--line-color);
      display: grid;
      gap: 1rem 0;
      grid-template-columns: repeat(3, 1fr);
   }

   & > .title {
      margin-left: -1rem;
   }
   
}