.topPokeballFilter.bug {
   filter: invert(47%) sepia(70%) saturate(609%) hue-rotate(26deg) brightness(98%) contrast(91%);
}
//
.topPokeballFilter.fairy {
   filter: invert(75%) sepia(67%) saturate(840%) hue-rotate(215deg) brightness(94%) contrast(84%);
}

.topPokeballFilter.ghost {
   filter: invert(47%) sepia(92%) saturate(1587%) hue-rotate(232deg) brightness(97%) contrast(91%);
}

.topPokeballFilter.normal {
   filter: invert(88%) sepia(9%) saturate(189%) hue-rotate(6deg) brightness(90%) contrast(83%);
}

.topPokeballFilter.steel {
   filter: invert(67%) sepia(2%) saturate(1661%) hue-rotate(205deg) brightness(85%) contrast(91%);
}

.topPokeballFilter.ice {
   filter: invert(81%) sepia(19%) saturate(719%) hue-rotate(164deg) brightness(98%) contrast(101%);
}

.topPokeballFilter.dark {
   filter: invert(17%) sepia(24%) saturate(293%) hue-rotate(349deg) brightness(95%) contrast(97%);
}

.topPokeballFilter.fighting {
   filter: invert(18%) sepia(77%) saturate(1289%) hue-rotate(343deg) brightness(96%) contrast(91%);
}

.topPokeballFilter.grass {
   filter: invert(66%) sepia(65%) saturate(541%) hue-rotate(48deg) brightness(87%) contrast(84%);
}

.topPokeballFilter.poison {
   filter: invert(34%) sepia(26%) saturate(1446%) hue-rotate(250deg) brightness(92%) contrast(84%);
}

.topPokeballFilter.water {
   filter: invert(71%) sepia(12%) saturate(2109%) hue-rotate(163deg) brightness(99%) contrast(88%);
}

.topPokeballFilter.flying {
   filter: invert(46%) sepia(51%) saturate(729%) hue-rotate(192deg) brightness(90%) contrast(84%);
}

.topPokeballFilter.dragon {
   filter: invert(35%) sepia(10%) saturate(7500%) hue-rotate(224deg) brightness(97%) contrast(87%);
}

.topPokeballFilter.fire {
   filter: invert(55%) sepia(47%) saturate(6249%) hue-rotate(342deg) brightness(98%) contrast(88%);
}

.topPokeballFilter.ground {
   filter: invert(67%) sepia(16%) saturate(1171%) hue-rotate(7deg) brightness(100%) contrast(97%);
}

.topPokeballFilter.psychic {
   filter: invert(38%) sepia(98%) saturate(3688%) hue-rotate(322deg) brightness(87%) contrast(97%);
}

.topPokeballFilter.electric {
   filter: invert(82%) sepia(27%) saturate(1097%) hue-rotate(356deg) brightness(99%) contrast(93%);
}

.topPokeballFilter.rock {
   filter: invert(50%) sepia(57%) saturate(406%) hue-rotate(8deg) brightness(93%) contrast(91%);
}