.topPokeballFilter {
   width: 68.44px;
   height: 31.68px;
   mask: url('../../../assets/topPokeball.svg') no-repeat center / contain;
   -webkit-mask: url('../../../assets/topPokeball.svg') no-repeat center / contain;
   background-color: #FFFFFF;
}

.topPokeballFilter.bug {
   background-color: var(--bug);
}

.topPokeballFilter.fairy {
   background-color: var(--fairy);
}

.topPokeballFilter.ghost {
   background-color: var(--ghost);
}

.topPokeballFilter.normal {
   background-color: var(--normal);
}

.topPokeballFilter.steel {
   background-color: var(--steel);
}

.topPokeballFilter.ice {
   background-color: var(--ice);
}

.topPokeballFilter.dark {
   background-color: var(--dark);
}

.topPokeballFilter.fighting {
   background-color: var(--fighting);
}

.topPokeballFilter.grass {
   background-color: var(--grass);
}

.topPokeballFilter.poison {
   background-color: var(--poison);
}

.topPokeballFilter.water {
   background-color: var(--water);
}

.topPokeballFilter.flying {
   background-color: var(--flying);
}

.topPokeballFilter.dragon {
   background-color: var(--dragon);
}

.topPokeballFilter.fire {
   background-color: var(--fire);
}

.topPokeballFilter.ground {
   background-color: var(--ground);
}

.topPokeballFilter.psychic {
   background-color: var(--psychic);
}

.topPokeballFilter.electric {
   background-color: var(--electric);
}

.topPokeballFilter.rock {
   background-color: var(--rock);
}