.pokeball {
   display: flex;
   position: relative;
   flex-direction: column;
   gap: 0.4rem;
   overflow: none;

   .topPokeball, .bottomPokeball {
      width: 4.88rem;
      height: 2.262rem;
   }  
   
   .topPokeball {
      mask: url('../../../assets//topPokeball.svg') no-repeat center / contain;
      -webkit-mask: url('../../../assets/topPokeball.svg') no-repeat center / contain;
      background-color: #FFFFFF;
   }

   .pokemonImage {
      position: absolute;
      top: -1rem;
      left: -1rem;
   }
}

