.circle {
   display: flex;
   align-items: center;
   justify-content: center;
   clip-path: circle();
   background: var(--header-background);
   padding-top: 1rem;

   & > span {
      text-align: center;
      width: 2rem;
      height: 2rem;
      font-size: 0.7rem;
      font-family: 'Poppins', sans-serif;
      color: #FFFFFF;
   }
}