.circle {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 1.7rem;
   height: 1.7rem;
   clip-path: circle();
   background: var(--header-background);

   & > span {
      font-size: 0.643rem;
      font-family: 'Poppins', sans-serif;
      color: #FFFFFF;
   }
}