#signUpPage {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;

   .boxSingIn {
      display: flex;
      flex-direction: column;
      gap: 1rem;
   }

   .boxInput {
      font-size: 800;
      font-family: 'Spartan', sans-serif;
      display: flex;
      flex-direction: column;

      & > input {
         min-width: 21.428rem; 
         max-width: 21.428rem;
         height: 1.8rem;
         padding-left: .5rem;
      }
   }

   .button {
      border-radius: .5rem;
      border: 0;
      background-color: var(--header-background);
      padding: .5rem;
      color: #FFFFFF;
      transition: filter 2s;

      &:hover {
         filter: brightness(0.8);
      }
   }

   .errorMessage {
      color: #D8000C;
      text-align: center;
   }
}