.pokemonCard {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 5.5rem;
   max-height: 4rem;
   margin-left: 1rem;

   & > .circle {
      align-self: flex-start;
   }

   & > .pokemonImg {
      position: absolute;
      top: 1.5rem;
      max-width: 6rem;
   }

   & > .pokemonName {
      margin-top: 4rem;
   }

   .selected {
      opacity: 0.8;
      position: absolute;
      top: 4rem;
   }

   .bug {
      background-color: var(--bug);
   }
   
   .fairy {
      background-color: var(--fairy);
   }
   
   .ghost {
      background-color: var(--ghost);
   }
   
   .normal {
      background-color: var(--normal);
   }
   
   .steel {
      background-color: var(--steel);
   }
   
   .ice {
      background-color: var(--ice);
   }
   
   .dark {
      background-color: var(--dark);
   }
   
   .fighting {
      background-color: var(--fighting);
   }
   
   .grass {
      background-color: var(--grass);
   }
   
   .poison {
      background-color: var(--poison);
   }
   
   .water {
      background-color: var(--water);
   }
   
   .flying {
      background-color: var(--flying);
   }
   
   .dragon {
      background-color: var(--dragon);
   }
   
   .fire {
      background-color: var(--fire);
   }
   
   .ground {
      background-color: var(--ground);
   }
   
   .psychic {
      background-color: var(--psychic);
   }
   
   .electric {
      background-color: var(--electric);
   }
   
   .rock {
      background-color: var(--rock);
   }

}