.pokemonCard {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 5.5rem;
   max-height: 4rem;

   & > .circle {
      align-self: flex-start;
      top: 5rem;
   }

   & > .pokemonImg {
      position: absolute;
      max-width: 6rem;
   }

   & > .pokemonName {
      margin-top: 4.2rem;
   }

   & > .typeColor {
      display: flex;

      & > div {
         width: 48%;
         height: .15rem;
      }

      &.grass {
         background: var(--grass);
      }
   }
}